<div class="container">
	<div class="col-md-3">
		<%= image_tag('logo.png', class: 'img-resposive left-logo') %>
	</div>
	<div class="clearfix"></div>
	<div class="box-device">
		<div class="col-md-4 col-md-offset-2 store">

			<h1 class='insert-cellphone'>Insert Store Password</h1>
		</div>
		<div class="col-md-4 box-keypad">
			<%= form_tag storing_device_store_path(@store) do %>
        <%= render "button_form" %>
      <% end %>
		</div>
	</div>
</div>