<div class="container">
  <div class="box-device text-center">
    <%= image_tag('logo.png', class: 'logo') %>
    <h1>Welcome to BitBillers Kiosk</h1>
    <%= button_tag "BUY BITCOIN", class: 'btn btn-primary radius btn-lg buy-btn', onclick: "window.location='/device/buy'" %>
  </div>
</div>