<div class="navbar navbar-default navbar-static-top header" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a rel="nofollow" class="navbar-brand visible-xs visible-sm" href="/">
        <img alt="Bitcoins" src="/assets/logo.png">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="col-md-4">
        <ul class="nav navbar-nav primary-links">
          <li><a href="#">How It Works</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 hidden-xs hidden-sm">
        <div class="logo"><a href="/"><img alt="Bitcoins" src="/assets/logo.png"></a></div>
      </div>
      <div class="col-md-4">
        <ul class="nav navbar-nav navbar-right primary-links">
          <li class="dropdown">
            <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="login_dropdown">
              <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><li><%= link_to 'Log out', destroy_user_session_path, :method=>'delete' %></li>
              <% if current_user.is_admin? %>
              <li><a href="/admin">Admin</a></li>
              <% else %>
              <li><a href="<%= user_transaction_history_path %>">Withdraw History</a></li>
              <% end %>
            </ul>
            <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="login_dropdown">Login<b class="caret"></b></a>
            <div class="dropdown-menu">
              <%= form_tag signin_user_path do %>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="user[email]" class="form-control" id="email-address-login" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="user[password]" class="form-control" id="password-login" placeholder="Password">
              </div>
              <div class="checkbox">
                <label>
                  <input name="user[remember_me]" type="hidden" value="0">
                  <input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
                  <input type="checkbox"> Keep me logged in
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <% end %>
            </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</div>